 html, body, div, span {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #fafafa;
    font-family: "Roboto", sans-serif;
    background-image: url("assets/iss.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

.hud{
  position: absolute;
  top: 5%;
  left:0;
  width: 100%;
  background-color: #414656;
  opacity: 0.85;
  padding: 20px 40px 10px 40px;
}

div.container {
  display: flex;
  top: 30%;
  left: 5%;
  position:fixed;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: #fafafa;

  padding: 20px 40px 10px 40px;
}

.flex-item {
  padding: 0px 30px 10px 5px;
}

#clock {
    color: rgb(0,0,0);
    font-weight: 400;
    font-size: 40pt;
    display: inline;
    text-align: center;
    transition: width .1s ease;
    -webkit-transition: width .1s ease;
}
#date {
    color: rgb(40,40,40);
    text-indent: 10px;
    font-weight: 400;
    font-size: 12pt;
    text-align: center;
}

#weather-loc{
  position:absolute;
  top: 25%;
  text-align:right;
}

#weather-temp{
  display:inline-grid;
  text-align:right;
}

#weather-tab {
  color:rgb(0,0,0);

}
#desc {
    display:none;
    color: rgb(31,31,31);
    font-size: 10pt;
}


#philos {
  position: absolute;
  left: 0;
  top: 70%;
  width: 100%;
  text-align: center;
  font-size: 15px;
  margin: 10px;
  font-weight: 400;
  color: rgb(225,230,239);
  padding: 5px;
}
