body {
    background-color: #fafafa;
    font-family: "Roboto", sans-serif;
    background-image: url("assets/aurora.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

p {
  margin: 0px 0px 0px 0px;
}

.hud{
  display: flex;
  flex-direction: row wrap;
  justify-content: flex-start;
  padding:10px 0px 10px 0px;
  /*      top  rgt btm  lft*/
  width: 100%;
  background-color: #414656;
  opacity: 0.85;
}

div.container {
  top: 30%;
  left: 5%;
  position:fixed;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: #fafafa;
  padding: 20px 40px 10px 20px;
}

.flex-item {
  padding: 0px 0px 0px 0px;
}

#clock {
    color: rgb(0,0,0);
    font-weight: 400;
    font-size: 40pt;
    display: inline;
    width: 210px;
    text-align: center;
    transition: width .1s ease;
    -webkit-transition: width .1s ease;
}

#weather-title{
  margin: 0px 0px 0px 0px;
  text-align: left;
}

#weather-parent{
  padding: 12px 0px 15px 0px;
}

#weather-tab {
  color:rgb(0,0,0);
  padding: 0px 0px 0px 0px;
}
#weather-desc{
  padding: 0px 0px 0px 0px;
  width: 55px;
}

#wicon{
  position: relative;
  width: 30px;
  height: 30px;
  top: 1;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

#philos {
  position: absolute;
  left: 0;
  top: 70%;
  width: 100%;
  text-align: center;
  font-size: 15px;
  margin: 10px;
  font-weight: 400;
  color: rgb(225,230,239);
  padding: 5px;
}
