body {
    background-color: #fafafa;
    font-family: "Roboto", sans-serif;
    background-image: url("assets/iss.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

.hud{
  position:fixed;
  left:0;
  top:6%;
  padding:10px 0px 10px 0px;
  /*      top  rgt btm  lft*/
  width: 100%;
  background-color: #414656;
  opacity: 0.85;
}

div.container {
  display: none;
  
  
  top: 30%;
  left: 5%;
  position:fixed;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: #fafafa;

  padding: 20px 40px 10px 40px;
}

.flex-item {
  display:none;
  padding: 0px 30px 10px 5px;
}

#clock {
    color: rgb(0,0,0);
    font-weight: 400;
    font-size: 40pt;
    display: inline;
    text-align: center;
    transition: width .1s ease;
    -webkit-transition: width .1s ease;
}


#weather-loc{
  clear: left;
  display:none;
}

#calendar{
  clear:left;
  display:none;
}

#weather-tab {
  color:rgb(0,0,0);
  display:none;
}


#philos {
  position: absolute;
  left: 0;
  top: 70%;
  width: 100%;
  text-align: center;
  font-size: 15px;
  margin: 10px;
  font-weight: 400;
  color: rgb(225,230,239);
  padding: 5px;
}
